body {
  font-family: 'Ubuntu', sans-serif;
}

#erreur {
  display: none;
}

.w-100pc {
  width: 100%;
}

.disp-i-blck {
  display: inline-block;
}

.disp-fl {
  display: flex;
}

.al-c {
  align-items: center;
}

.j-c-sp-ard {
  justify-content: space-around;
}

.j-c-c {
  justify-content: center;
}

.fl-d-c {
  flex-direction: column;
}

.fl-wrap {
  flex-wrap: wrap;
}

.mg-15px {
  margin: 15px;
}

.mg-l-170px {
  margin-left: 170px;
}

.mg-l-178px {
  margin-left: 178px;
}

.pad-10px-0 {
  padding: 10px 0;
}

.b-rad-100pc {
  border-radius: 100%;
}

.img-s {
  width: 250px;
  height: auto;
}

.container {
  width: 500px;
  height: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 25px;
  box-shadow: 10px 5px 20px rgb(225, 225, 225);
}

.txt-decoration {
  text-decoration: none;
  text-decoration: underline;
  color: black;
  font-weight: 600;
  font-size: 2rem;
}

.txt-decoration:hover {
  cursor: pointer;
}

.dropbtn {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}